:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #8d8d8d;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.calculator {
  width: 250px;
  margin: auto;
  border: 3px solid #fbf9f9;
  border-radius: 8px;
  padding: 16px;
  background: #000814;
}

.display {
  font-size: 2rem;
  text-align: right;
  padding: 10px;
  background: rgb(237, 235, 235);
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow-x: auto;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.calc-button {
  font-size: 1.5rem;
  padding: 12px;
  background-color: #dadada;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.calc-button.operator {
  background-color: orange;
  color: white;
}

.calc-button.clear {
  background-color: #777777;
  color: white;
}
